<!--
<h1>Welcome#index</h1>
<p>Find me in app/views/welcome/index.html.erb</p>

<% frutas = ['Pera', 'Manzana', 'Banano'] %>

<ul>
    <% frutas.each do |fruta| %>
        <li><%= fruta  %></li>
    <% end %>
</ul>
-->

<div class="row pt-4">
    <div class="col-md-12">
        <h1 class="text-center">Bienvenido a tu Lista de Tareas</h1>
        <p></p>
    </div>
</div>

